.button {
  transition-duration: 0.4s;
  background-color: lightblue;
  color: white;
  border: none;
  font-size: 200%;
  padding: 5% 10%;
}

.custom_button {
  transition-duration: 0.4s;
  background-color: lightblue;
  color: white;
  border: none;
  font-size: 200%;
  padding: 5% 33.7%;
}
.custom_button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 300%;
}
.padding {
  padding-bottom: 20%;
}
.all {
  padding-top: 5%;
  display: inline-block;
  width: 100%;
  text-align: center;
}
